@import "https://www.nerdfonts.com/assets/css/webfont.css";
@font-face {font-family: S; src: url('assets/Sauce Code Pro Nerd Font Complete.ttf');}

:root {
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --orange: #fab387;
    --yellow: #f9e2af;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --gray: #6c7086;
    --black: #11111b;
    --green: #a6e3a1;
}

body {
    background: var(--black);
    color: var(--white);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: S;
    font-size: 14px;
    font-weight: bold;
}

#main {
    width: 655px;
    height: 849px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 4px solid var(--lavender);
    box-shadow: var(--gray) 6px 6px 0px;
    display: flex;
    flex-direction: column;
    background: var(--black);
}

#buttons_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    margin-bottom: 0px;
}

.btn_unsel {
    border: 0px solid #000000;
    background: var(--yellow);
    foreground: var(--blak);
    font-family: S;
    font-weight: bold;
    font-size: 14px;
    flex: 1;
    height: 30px;
    user-select: none;
}

.btn_unsel:hover {
    background: var(--orange);
}

.btn_sel {
    border: 0px solid #000000;
    background: var(--red);
    foreground: var(--black);
    font-family: S;
    font-weight: bold;
    font-size: 14px;
    flex: 1;
    height: 30px%;
    user-select: none;
}

#page {
    width: calc(100% - 24px);
    height: 100%;
    margin: 8px;
    border: 4px solid var(--yellow);
}

.page_content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.banner {
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 20px;
}

p {
    margin: 0px;
    flex: 1;
    padding: 20px;
}

h1 {
    margin: 0px;
    padding: 18px;
    paddin-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    color: var(--blue);
}

.feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;
    margin-left: 10px;
    gap: 8px;
}

.card-small {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid var(--gray);
    border-radius: 20px;
    padding: 8px;
    width: 122.5px;
}

.card-small:hover {
    border-color: var(--white);
}

.card-img-small {
    margin-bottom: 5px;
    border-radius: 10px;
    height: 180px;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    border: 4px solid var(--gray);
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
}

.card:hover {
    border-color: var(--white);
}

h2 {
    color: var(--blue);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

h3 {
    color: var(--gray);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

a {
    font-size: 14px;
    color: var(--blue);
    margin: 0px;
    margin-left: -5px;
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    background: var(--blue);
    color: var(--black);
}

.card-image {
    height: 50%;
    max-width: calc(100% - 16px);
    margin-top: 8px;
}

ul {
    list-style-type: square;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.vsplit {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    gap: 8px
}

.a_btn {
    font-family: S;
    font-weight: bold;
    font-size: 30px;
    color: var(--blue);
    text-decoration: none;
    padding: 4px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.post-pic {
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
}

.stamp {
    width: 99px;
    height: 55px;
}

.stamps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 6px
}

.small {
    width: 50%
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    filter: hue-rotate(60deg);
}
