:root {
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --orange: #fab387;
    --yellow: #f9e2af;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --gray: #6c7086;
    --black: #11111b;
    --green: #a6e3a1;
}

@font-face {font-family: S; src: url('assets/Sauce Code Pro Nerd Font Complete.ttf');}

body {
    background: var(--black);
    color: var(--white);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: S;
    font-size: 14;
    font-weight: bold;
}

#main {
    width: 650px;
    height: calc(100vh - 80px);
    margin-top: 40px;
    margin-bottom: 40px;
    border: 4px solid var(--lavender);
    box-shadow: var(--gray) 6px 6px 0px;
    display: flex;
    flex-direction: column;
}

#buttons_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    margin-bottom: 0px;
}

.btn_unsel {
    border: 0px solid #000000;
    background: var(--yellow);
    foreground: var(--blak);
    font-family: S;
    font-weight: bold;
    font-size: 14px;
    flex: 1;
    height: 30px;
}

.btn_sel {
    border: 0px solid #000000;
    background: var(--red);
    foreground: var(--black);
    font-family: S;
    font-weight: bold;
    font-size: 14px;
    flex: 1;
    height: 30px%;
}

#page {
    width: calc(100% - 24px);
    height: 100%;
    margin: 8px;
    border: 4px solid var(--yellow);
}

.page_content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.banner {
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 0px;
}

p {
    margin: 0px;
    flex: 1;
    padding: 20px;
}

h1 {
    margin: 0px;
    padding: 18px;
    paddin-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    color: var(--blue);
}

.feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;
    gap: 8px;
}

.card-small {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid var(--gray);
    border-radius: 20px;
    padding: 8px;
    width: 122.5px;
}

.card-img-small {
    margin-bottom: 5px;
    border-radius: 10px;
    height: 180px;
}

::-webkit-scrollbar {
    display: none;
}
