:root {
    --blue: #7aa2f7;
    --red: #f7768e;
    --dark: #1e1e2e;
    --black: #11111b;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --orange: #fab387;
    --shadow: #1e1e2eb3;
}

@font-face {font-family: S; src: url('Sauce Code Pro Nerd Font Complete.ttf');}

body {
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: var(--black);
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    border: 4px solid var(--white);
    border-radius: 20px;
    box-shadow: var(--blue) 0px 0px 20px 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    overflow: hidden;
    color: var(--blue);
    text-shadow: 
        1px 1px 2px var(--black),
        0px 0px 5px var(--white),
        0px 0px 1px var(--white);
    font-family: S;
    font-weight: bold;
    font-size: 14px;
}

.input-form {
    width: calc(100% - 10px);
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.input {
    background: var(--black);
    color: var(--blue);
    font-family: S;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 
        1px 1px 2px var(--black),
        0px 0px 5px var(--white),
        0px 0px 1px var(--white);
    border: 0px;
    caret-shape: block;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    left: -10px;
}

::-webkit-scrollbar:horizontal {
    height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 20px;
    box-shadow: 0 0 4px 4px var(--blue);
}

textarea:focus, input:focus{
    outline: none;
}

.inner {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.output {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.prompt {
    margin-right: 10px;
}

.ascii {
    margin-top: -5px;
}

.hsplit {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
}

.image-medium {
    width: 400px;
    border-radius: 20px;
    box-shadow: var(--blue) 0px 0px 10px 5px;
    margin: 20px;
    z-index: -1;
}

p {
    border-bottom: 2px dashed var(--blue);
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content {
    width: 100%;
    margin: 0px;
}

.pixelart {
    border: 4px solid var(--blue);
}

.pixelartcodebox {
    border: 4px solid var(--blue);
    border-left: 0px;
    background: var(--black);
    color: var(--blue);
    font-weight: bold;
    resize: none;
}

.box {
    border: 4px solid var(--blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}

.box img {
    height: 240px;
    width: 170px;
    margin: 10px;
}

.boxsplit {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
    overflow-x: scroll;
}
