:root {
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --orange: #fab387;
    --yellow: #f9e2af;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --gray: #6c7086;
    --black: #11111b;
    --green: #a6e3a1;
}

@font-face {font-family: S; src: url('../assets/Sauce Code Pro Nerd Font Complete.ttf');}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: S;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}

#background {
    width: 100%;
    height: calc(100% - 30px);
    margin: 0px;
    padding: 0px;
    background: var(--blue);
}

#taskbar {
    width: 100%;
    height: 30px;
    background: var(--orange);
    display: flex;
    flex-direction: row;
}

#start_button {
    height: 30px;
    border: 0px;
    background: var(--red);
    font-family: S;
    font-size: 14px;
    font-weight: bold;
    padding-right: 15px;
}

#start_button:hover {
    background: var(--yellow);
}

#open_app {
    border: 3px solid var(--red);
}

#separator {
    flex: 1;
}

#clock {
    background: var(--red);
}

#window {
    position: absolute;
    width: calc(100% - 40px - 6px);
    height: calc(100% - 40px - 30px - 6px);
    left: 20px;
    top: 20px;
    border: 3px solid var(--orange);
    display: flex;
    flex-direction: column
}

#titlebar {
    display: flex;
    flex-direction: row;
    background: var(--orange);
}

#title {
    flex: 1;
}

#close {
    background: var(--red);
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    margin: 0px;
    border: 0px;
    font-family: S;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}

#close:hover {
    background: var(--yellow);
}

#app {
    width: 100%;
    height: 100%;
    border: 0px;
    background: var(--white);
}

#start_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--red);
    width: 300px;
    height: 400px;
    left: 5px;
    bottom: 35px;
    border: 3px solid var(--orange);
}
